services:
  - type: web
    name: jdf-fitness-tracker
    env: python
    runtime: python
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn --worker-class gevent -w 1 --bind 0.0.0.0:$PORT app:app
    envVars:
      - key: PYTHON_VERSION
        value: "3.12"
      - key: DEBUG
        value: "False"
      - key: SECRET_KEY
        generateValue: true
